.w92 ul li {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    color: white;
    font-family: Proxima_Nova_400;
}

.w92 ul {
    margin-top: 10px;
}

.w92 .con {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    color: white;
    font-family: Proxima_Nova_400;
}