.earn-phoneClass {
    width: 100% !important;
    color: white !important;
    border: 1px solid transparent !important;
    background: transparent !important;
    padding: 27px 10px 27px 50px!important;
    font-size: 14px !important;
}